* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.header {
  margin: 0;
  padding: 20px;
  /* background: #544b3d; */
  background: url(./images/header1.jpg);
  background-attachment: fixed;
  letter-spacing: 2px;
  color: #f8f2dc;
}
h1.name {
  padding: 3px;
  text-align: center;
}
h2.portfolio {
  text-align: center;
}
nav {
  background: #4c4c47;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  width: 20%;
  letter-spacing: 2px;
  font-size: 1.2em;
}
nav li a {
  padding-right: 5px;
}
a:hover {
  color: darkgoldenrod;
  text-decoration: underline;
  font-size: 25px;
}
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* size: 50px; */
}
i {
  font-size: 30px;
}
h1.aboutme {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #2d2d2a;
  padding: 15px;
  color: antiquewhite;
  text-decoration: 5px solid underline;
  font-style: italic;

  /* border: 2px solid white; */
}
p.about1 {
  font-size: 30px;
  display: block;
  /* color: antiquewhite; */
  background: rgb(45, 45, 42);
  background: linear-gradient(
    90deg,
    rgba(45, 45, 42, 1) 0%,
    rgba(76, 76, 71, 1) 35%,
    rgba(229, 220, 197, 1) 100%
  );
  word-spacing: 5px;
  padding: 15px;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
div.skills {
  /* background: linear-gradient(to left, #00467f, #a5cc82); */
  color: antiquewhite;
  background-attachment: fixed;
}
h2.skills {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 40px;
  text-decoration: 5px solid underline;
  padding: 15px;
  background: #2d2d2a;
  /* border: 5px solid black; */
}
ul.skills1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 15px;
  padding-left: 40px;
  font-weight: bolder;
  list-style: disc;
  font-size: 30px;
  background: rgb(45, 45, 42);
  background: linear-gradient(
    3deg,
    rgba(45, 45, 42, 1) 0%,
    rgba(76, 76, 71, 1) 35%,
    rgba(229, 220, 197, 1) 100%
  );
}
ul.skills1 li {
  padding-bottom: 20px;
}
div.languages {
  padding: 10px;
  background: url(./images/coding.jpeg);
  color: white;
  background-attachment: fixed;
  background-size: cover;
  background-size: contain;
}
h2.languages {
  font-family: "Source Code Pro", monospace;
  font-size: 40px;
  padding-bottom: 10px;
  text-decoration: 5px solid underline;
  font-style: italic;
}
ul.cores {
  font-family: "Source Code Pro", monospace;
  padding-left: 30px;
  list-style: disc;
  font-size: 30px;
}
ul.cores li {
  padding-bottom: 20px;
}
div.education {
  /* background: #bbd2c5;
  background: -webkit-linear-gradient(to left, #292e49, #536976, #bbd2c5);
  background: linear-gradient(to left, #292e49, #536976, #bbd2c5); */
  background: rgb(45, 45, 42);
  background: radial-gradient(
    circle,
    rgba(45, 45, 42, 1) 0%,
    rgba(76, 76, 71, 1) 35%,
    rgba(229, 220, 197, 1) 100%
  );
}
h2.education {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  /* letter-spacing: 2px; */
  padding-bottom: 10px;
  background: #2d2d2a;
  padding: 15px;
  text-decoration: 5px solid underline;
  font-style: italic;
  color: antiquewhite;
}
p.course {
  padding: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
}
span.manipal {
  font-size: 20px;
  font-weight: initial;
  padding: 15px;
}
span.years {
  font-size: 20px;
  /* font-weight: lighter; */
  padding: 15px;
}
div.certificates {
  /* padding: 10px; */
  background: rgb(45, 45, 42);
  background: linear-gradient(
    175deg,
    rgba(45, 45, 42, 1) 0%,
    rgba(76, 76, 71, 1) 35%,
    rgba(229, 220, 197, 1) 100%
  );
}
h2.certificates {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  background: #2d2d2a;
  padding: 15px;
  /* letter-spacing: 2px; */
  text-decoration: 5px solid underline;
  font-style: italic;
  color: antiquewhite;
}
ul.cert {
  padding: 15px;
  padding-left: 40px;
  list-style: disc;
  font-size: 30px;
  /* color: antiquewhite; */
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
ul.cert li {
  padding-bottom: 20px;
}
h2.footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #4c4c47;
  color: #e5dcc5;
}
